body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.h1heading {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 130px;
}

.half-width {
    width: 50%;
    padding-left: 6%;
}

.half-width img {
    width: 70%;

}

.link-btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 35px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-shadow {
    box-shadow: 5px 5px 15px 2px gray;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-left: 6px solid orange;
    border-radius: 5px;
}

.footer {
    text-align: center;
    color: gray;
}